.left-main-container {
  // position: fixed;
  top: 84px;
  bottom: 50px;
  width: 450px;
  -webkit-transform: translateZ(0);

  .header {
    font-size: 20px;
    font-weight: 700;
    overflow-x: hidden;
  }

  .request-list {
    overflow-y: auto;
    .v-list-item__content {
      font-size: 12px;
    }
  }
}

.right-main-container {
  margin-left: 475px;
  min-width: 720px;
  width: 100%;

  .maininfo {
    .row {
      padding: 0 12px;
    }
  }

  .details-container {
    padding: 12px;
    padding-bottom: 24px;

    .details-container__block {
      &.titled:nth-child(1) {
        margin-top: 12px;
      }
      .sub-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        padding: 0 12px;
      }

      & > .col {
        padding: 0 !important;
      }

      & > .col > .container {
        padding: 0 12px !important;
      }

      .details-item, .doc-item {
        padding: 0 12px !important;
      }

      .doc-item .row {
        padding: 0 24px !important;
      }
    }

    .divider {
      margin-top: 12px;
      margin-bottom: 24px;
    }
  }
}
